<div class="content_section">

  <h2>Artists</h2>

  <ul class="artists">
    <li><a href="#" target="_parent"><img src="images/dianaross.jpg" alt="image 1" /></a></li>
    <li><a href="#" target="_parent"><img src="images/lionelrichie.jpg" alt="image 2" /></a></li>
    <li><a href="#" target="_parent"><img src="images/thecommodores.jpg" alt="image 3" /></a></li>
    <li><a href="#" target="_parent"><img src="images/steviewonder.jpg" alt="image 4" /></a></li>
    <li><a href="#" target="_parent"><img src="images/marvingaye.jpg" alt="image 4" /></a></li>
  </ul>

  <div class="cleaner"></div>

  <div class="button_01"><a href="lineup.html">View All</a></div>

</div>

<div class="content_section">
  <div class="service_box">

    <div class="service_image">
      <img src="images/woodstock.jpg" alt="image" />
    </div>
    <div class="service_text">
      <h3>Aerial shot</h3>
      <p>Donec varius tempor hendrerit. Nam convallis est ut lacus ullamcorper vitae scelerisque enim lobortis. Nam ut ipsum nec magna facilisis auctor ut porttitor enim. </p>
      <div class="button_01"><a href="#">More</a></div>
    </div>

  </div>
</div>

<div class="content_section">
  <div class="service_box">

    <div class="service_image">
      <img src="images/woodstock.jpg" alt="image" />
    </div>
    <div class="service_text">
      <h3>Aerial shot</h3>
      <p>Donec varius tempor hendrerit. Nam convallis est ut lacus ullamcorper vitae scelerisque enim lobortis. Nam ut ipsum nec magna facilisis auctor ut porttitor enim. </p>
      <div class="button_01"><a href="#">More</a></div>
    </div>

  </div>
</div>